{% extends 'main.html' %}
{% block content%}

    <style>
        img {
            
            width: 20%;
            height: 20%;
            border-radius: 2.2%;
        }    
    </style>


    
    
    <h1 style="font-size:large;margin-left:30px">Trending pictures</h1>
    <a href="{% url 'login' %}">login</a>
    {% for picture in pictures %}
        <figure>
            <h2><a href="/profile/{{picture.uploader.id}}">{{picture.uploader}}</a></h2>
            <a href="/show/{{picture.id}}">
            <img src="{{picture.image.url}}" alt="{{picture.name}}" title="{{picture.name}}" width="{{picture.image.width}}" height="{{picture.image.height}}" loading="">
            </a>
            <div>
                <figcaption style="display: inline-block;">{{picture.name}}</figcaption>
                <p style="display: inline-block;">{{ picture.likes}},<a href="/like/{{picture.id}}">Like</a> </p>
    
            </div>

        </figure>
      
    {% endfor %}

{% endblock content %}